{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Modifier la fiche nourrice</h1>
    <div class="well">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nom) }}
        {{ form_row(edit_form.prenom) }}
        {{ form_row(edit_form.dateNaissance) }}
        {{ form_row(edit_form.adresse) }}
        {{ form_row(edit_form.codePostal) }}
        {{ form_row(edit_form.ville) }}
        <hr>
        <p>
            <a href="{{ path('nounou') }}" class="btn btn-success">
                <span class="el-icon-chevron-left"></span>
                Retour à la liste des nourrices
            </a>
            {{ form_widget(edit_form.submit) }}
        </p>
        {{ form_end(edit_form) }}
        {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
