{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Ajouter un enfant</h1>
    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.dateNaissance) }}
        <hr>
        <p>
            <a href="{{ path('enfant') }}" class="btn btn-success">
                <span class="el-icon-chevron-left"></span>
                Retour à la liste des enfants
            </a>
            {{ form_widget(form.submit) }}
        </p>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}
