<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Mandit Rémy">
        <meta name="description" content="Application web de gestion de la nounou : déclaration du contrat, des heures, aides pour la caf.">
        <title>{% block title %}Gestion Nounou{% endblock %}</title>

        {% stylesheets filter='cssrewrite, uglifycss'
            '@DeclareNounouGestNounouBundle/Resources/public/css/styleNounou.css'
            '@DeclareNounouGestNounouBundle/Resources/public/css/bootstrap/css/bootstrap.css'
            '@DeclareNounouGestNounouBundle/Resources/public/css/bootstrap/css/bootstrap-responsive.css'
            'bundles/declarenounougestnounou/css/elusive-iconfont-master/css/elusive-webfont.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('DeclareNounouGestNounouBundle_accueil') }}"><span class="el-icon-home"></span> Gestion Nounou</a>
                    <div class="nav-collapse collapse" role="navigation">
                        <ul class="nav" role="navigation">
                            <li class="dropdown">
                                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="el-icon-plus"></span> Ajouter</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('enfant_new') }}">Enfant</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nounou_new') }}">Nounou</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('contrat_new') }}">Contrat</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('pointage_new') }}">Pointage</a></li>
                                </ul>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#"><span class="el-icon-minus-sign"></span> Supprimer</a></li>
                            <li role="presentation"><a role="menuitem" href="#"><span class="el-icon-edit"></span> Modifier</a></li>
                            <li role="presentation"><a role="menuitem" href="#"><span class="el-icon-envelope"></span> Contact</a></li>
                        </ul>
                        <ul class="nav pull-right" role="navigation">
                            <li class="dropdown">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                            <a id="dropProfil" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="el-icon-user"></span> {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropProfil">
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}"><span class="el-icon-lock"></span> Déconnexion</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}"><span class="el-icon-user"></span> Profil</a>
                            </li>
                            </ul>
                        {% else %}
                            <a id="dropConnect" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="el-icon-unlock"></span> <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropConnect">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_login') }}"><span class="el-icon-unlock"></span> Connexion</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_registration_register') }}"><span class="el-icon-plus"></span> Inscription</a>
                            </li>
                            </ul>
                        {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="feedback">
            <div class="feedback-link">
                <a href="#" class="trigger">Feedback</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="content" class="span12">
                        {% block body %}
                        {% endblock %}
                </div>
              </div>
          </div>
        <footer class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav contenu-bas pull-right">
                        <li>Rémy MANDIT © 2013 | <a class="footer-link" href="#">Mentions légales</a> | Propulsé par <a class="footer-link" href="http://symfony.com/">Symfony2</a> | Hebergé par <a class="footer-link" href="https://www.alwaysdata.com/">Alwaysdata</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        {% javascripts filter='uglifyjs2'
            '@DeclareNounouGestNounouBundle/Resources/public/js/jquery.js'
            '@DeclareNounouGestNounouBundle/Resources/public/css/bootstrap/js/bootstrap.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block script %}
        {% endblock %}
    </body>
</html>