<div class="col-md-offset-3 col-md-6">
<h3>{{ 'registration.title'|trans }}</h3>
</div>
<div class="row">
    <div class="well col-md-offset-3 col-md-6">
        {# personnalisation des erreurs #}
        {% form_theme form 'DeclareNounouGestNounouBundle:Form:fields_errors.html.twig' %}
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control col-md-12'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control col-md-12'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control col-md-12'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control col-md-12'}}) }}
        </div>
        <hr>
        <button type="submit" class="btn btn-primary"><span class="el-icon-plus"></span> {{ 'registration.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
