<div class="offset3 span6">
<h3>{{ 'profile.edit.title'|trans }}</h3>
</div>
<div class="well offset3 span6">
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" role="form">
    {{ form_widget(form) }}
        <div>
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-success">
            <i class="el-icon-chevron-left"></i>
            {{ 'profile.edit.back'|trans }}
            </a>
            <button type="submit" class="btn btn-danger"><i class="el-icon-refresh"></i> {{ 'profile.edit.submit'|trans }}</button>
        </div>
    </form>
</div>