{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
    <h1>Liste des pointages</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date pointage</th>
                <th>Heures réalisées</th>
                <th>Heures complémentaires</th>
                <th>Heures normales</th>
                <th>Repas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pointage_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datePointage %}{{ entity.datePointage|localizeddate('medium','none') }}{% endif %}</td>
                <td>{{ entity.heuresRealiseesPointage }}<span> h</span></td>
                <td>{{ entity.heuresComplementaires }}<span> h</span></td>
                <td>{{ entity.heuresNormales }}<span> h</span></td>
                <td>{{ entity.repas }}</td>
                <td>
                <p>
                    <a href="{{ path('pointage_show', { 'id': entity.id }) }}" class="btn btn-success">
                    <span class="el-icon-eye-open"></span> Voir</a>
                    <a href="{{ path('pointage_edit', { 'id': entity.id }) }}" class="btn btn-warning">
                    <span class="el-icon-edit"></span> Modifier</a>
                </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('pointage_new') }}" class="btn btn-primary">
            <span class="el-icon-plus"></span> Ajouter un pointage
        </a>
    </p>
    {% endblock %}
