{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Ajouter un pointage</h1>
    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.contrat) }}
        {{ form_row(form.datePointage) }}
        {{ form_row(form.heureDebut) }}
        {{ form_row(form.heureFin) }}
        {{ form_row(form.heuresRealiseesPointage) }}
        {{ form_row(form.heuresComplementaires) }}
        {{ form_row(form.heuresNormales) }}
        {{ form_row(form.repas) }}
        <hr>
        <p>
            <a href="{{ path('pointage') }}" class="btn btn-success">
                <span class="el-icon-chevron-left"></span>
                Retour à la liste des pointages
            </a>
            {{ form_widget(form.submit) }}
        </p>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}
